#!/bin/bash


export AWS_ACCESS_KEY_ID="XXX"
export AWS_SECRET_ACCESS_KEY="XXX"
export AWS_SESSION_TOKEN="XXX"

java -Xms1G -Xmx2G  -jar target/pdf-gen-bench-1.0-SNAPSHOT.jar $@ > /dev/null 2>&1 & tail -f injector.log

